<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Peaje</title>
  </head>
  <body>
    <h1>Editar Peaje</h1>
    <form action="/peajes/editar/<%= peaje._id %>" method="POST">
      <div>
        <label for="patente">Patente:</label>
        <input
          type="text"
          id="patente"
          name="patente"
          value="<%= peaje.patente %>"
          required
        />
      </div>
      <div>
        <label for="ubicacion">Ubicación:</label>
        <input
          type="text"
          id="ubicacion"
          name="ubicacion"
          value="<%= peaje.ubicacion %>"
          required
        />
      </div>
      <div>
        <label for="tarifa">Tarifa:</label>
        <input
          type="number"
          id="tarifa"
          name="tarifa"
          value="<%= peaje.tarifa %>"
          step="0.01"
          required
        />
      </div>
      <div>
        <label for="tipo_vehiculo">Tipo de Vehículo:</label>
        <input
          type="text"
          id="tipo_vehiculo"
          name="tipo_vehiculo"
          value="<%= peaje.tipo_vehiculo %>"
          required
        />
      </div>
      <button type="submit">Guardar Cambios</button>
    </form>
    <a href="/peajes">Cancelar</a>
  </body>
</html>
